:root {
  --color-tv-blue-700: #1848cc;
  --color-tv-blue-600: #1e53e5;
  --color-tv-blue-500: #2962ff;
  --color-tv-blue-50: #e3effd;
  --color-cold-gray-900: #131722;
  --color-cold-gray-350: #a3a6af;
  --color-cold-gray-300: #b2b5be;
  --color-cold-gray-200: #d1d4dc;
  --color-cold-gray-150: #e0e3eb;
  --color-cold-gray-100: #f0f3fa;
  --color-white: #ffffff;
  --color-black: #000000;
}
