.Button_root__2bb-J {
    font-family: var(--font-family-button);
    font-weight: 600;
    cursor: pointer;
    color: var(--color-white);
    background: none;
    border-style: solid;
    border-width: 1px;
}

.Button_full__31UD_ {
    width: 100%;
}

.Button_xlarge__3CsBa {
    height: 56px;
    border-radius: 12px;
    font-size: var(--size-font-button-xlarge);
    line-height: var(--size-lineheight-button-xlarge);
    padding: 0 32px;
}

.Button_large__3F305 {
    height: 48px;
    border-radius: 8px;
    font-size: var(--size-font-button-large);
    line-height: var(--size-lineheight-button-large);
    padding: 0 32px;
}

.Button_medium__36X0N {
    height: 40px;
    border-radius: 8px;
    font-size: var(--size-font-button-medium);
    line-height: var(--size-lineheight-button-medium);
    padding: 0 24px;
}

.Button_small__1zbeU {
    height: 34px;
    border-radius: 8px;
    font-size: var(--size-font-button-small);
    line-height: var(--size-lineheight-button-small);
    padding: 0 16px;
}

/* BRAND */
.Button_brand__cqFBg.Button_primary__1mTxz {
    background-color: var(--color-tv-blue-500);
    border-color: var(--color-tv-blue-500);
}

.Button_brand__cqFBg.Button_primary__1mTxz:hover {
    background-color: var(--color-tv-blue-600);
    border-color: var(--color-tv-blue-600);
}

.Button_brand__cqFBg.Button_primary__1mTxz:active {
    background-color: var(--color-tv-blue-700);
    border-color: var(--color-tv-blue-700);
}

.Button_brand__cqFBg.Button_secondary__2t2Od {
    border-color: var(--color-tv-blue-500);
    color: var(--color-tv-blue-500);
}

.Button_brand__cqFBg.Button_secondary__2t2Od:hover {
    background-color: var(--color-tv-blue-600);
    border-color: var(--color-tv-blue-600);
    color: var(--color-white);
}

.Button_brand__cqFBg.Button_secondary__2t2Od:active {
    background-color: var(--color-tv-blue-700);
    border-color: var(--color-tv-blue-700);
    color: var(--color-white);
}

/* GRAY */

.Button_gray__2_ixw.Button_primary__1mTxz {
    background-color: var(--color-cold-gray-100);
    border-color: var(--color-cold-gray-100);
    color: var(--color-black);
}

.Button_gray__2_ixw.Button_primary__1mTxz:hover {
    background-color: var(--color-cold-gray-150);
    border-color: var(--color-cold-gray-150);
    color: var(--color-black);
}

.Button_gray__2_ixw.Button_primary__1mTxz:active {
    background-color: var(--color-tv-blue-50);
    border-color: var(--color-tv-blue-50);
    color: var(--color-black);
}

.Button_gray__2_ixw.Button_secondary__2t2Od {
    border-color: var(--color-cold-gray-100);
    color: var(--color-black);
}

.Button_gray__2_ixw.Button_secondary__2t2Od:hover {
    background-color: var(--color-cold-gray-100);
    border-color: var(--color-cold-gray-100);
    color: var(--color-black);
}

.Button_gray__2_ixw.Button_secondary__2t2Od:active {
    background-color: var(--color-cold-gray-150);
    border-color: var(--color-cold-gray-150);
    color: var(--color-black);
}


/*# sourceMappingURL=main.7f1d9e37.chunk.css.map*/