.root {
    margin: 0;
    padding: 0;
    color: inherit;
}

h1.root {
    font-family: var(--font-family-typography-1);
    font-size: var(--size-font-typography-1);
    line-height: var(--size-lineheight-typography-1);
}

h2.root {
    font-family: var(--font-family-typography-2);
    font-size: var(--size-font-typography-2);
    line-height: var(--size-lineheight-typography-2);
}

h3.root {
    font-family: var(--font-family-typography-3);
    font-size: var(--size-font-typography-3);
    line-height: var(--size-lineheight-typography-3);
}

h4.root {
    font-family: var(--font-family-typography-4);
    font-size: var(--size-font-typography-4);
    line-height: var(--size-lineheight-typography-4);
}
